@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">Quản lý tài khoản của bạn</h2>
            </div>
        </div>
    </div>
    <div>
        <h2 class="col-12 text-center">Thay đổi cài đặt tài khoản của bạn</h2>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }
