@model int
<head>
    <title>Đơn hàng - Bookstore GI2</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="keywords" content="">
    <meta name="description" content="Thông báo mỗi khi đặt hàng sẽ giúp khách hàng có thể nắm rõ tình trạng đặt hàng thành công, yên tâm ở nhà chờ sách thôi.">
    </head>
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Đặt Hàng Thành Công!</h1>
        Số Đơn Hàng Của Bạn Là : @Model <br/><br/>
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Đơn Hàng Của Bạn Đã Được Đặt Thành Công! <br/>
    </div>
</div